* {
	margin: 0;
	padding: 0;
}
.baby {
	position:relative;
	box-sizing: content-box;
	width:259px;
	height:165px;
	background:url(../person.png) no-repeat;
}
.baby * {
	position:absolute;
}
.baby.final { background:none; }
.baby .head {
	box-sizing: content-box;
	top:9px;
	left:16px;
    width: 226px;
    height: 147px;
    border-radius: 100%;
	border:2px solid #000;
	background:#ffe5c1;
	-webkit-box-shadow: inset 16px -12px 0px 0px rgba(240, 192, 152, 1);
	-moz-box-shadow: inset 16px -12px 0px 0px rgba(240, 192, 152, 1);
	box-shadow: inset 16px -12px 0px 0px rgba(240, 192, 152, 1);
	opacity: 0.5;
}

.baby .head .contorno {
	opacity: 1;
	background: none;
	border-right: 0;
	width: 221px;
	height: 143px;
	border-radius: 100%;
	top: 0;
	left: 0;
	border-top: 2px solid #ffe5c1;
	border-bottom: 2px solid #ffe5c1;
	border-left: 2px solid #ffe5c1;
	z-index: 2;
}

/*Hair*/
.hair .hair-one {
	width: 6px;
	height: 12px;
	top: 47px;
	left: 1px;
	transform: rotate(-91deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 0 0;
	-moz-border-radius: 67% 77% 0 0;
	-webkit-border-radius: 67% 77% 70% 0;
	z-index: 10;
}
.hair .hair-two {
	width: 6px;
	height: 12px;
	top: 26px;
	left: 15px;
	transform: rotate(-73deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 0 0;
	-moz-border-radius: 67% 77% 0 0;
	-webkit-border-radius: 67% 77% 70% 0;
	z-index: 10;
}
.hair .hair-three {
	width: 6px;
	height: 13px;
	top: 9px;
	left: 38px;
	transform: rotate(-70deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}
.hair .hair-four {
	width: 6px;
	height: 15px;
	top: -3px;
	left: 66px;
	transform: rotate(-65deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}
.hair .hair-five {
	width: 6px;
	height: 15px;
	top: -8px;
	left: 97px;
	transform: rotate(-58deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}
.hair .hair-six {
	width: 6px;
	height: 15px;
	top: -8px;
	left: 127px;
	transform: rotate(-54deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}
.hair .hair-seven {
	width: 6px;
	height: 12px;
	top: 0;
	left: 158px;
	transform: rotate(-36deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}
.hair .hair-eight {
	width: 5px;
	height: 10px;
	top: 14px;
	left: 187px;
	transform: rotate(-20deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}
.hair .hair-nine {
	width: 5px;
	height: 10px;
	top: 39px;
	left: 214px;
	transform: rotate(6deg);
	border: 2px solid #000;
	border-bottom: 0;
	border-left: 0;
	border-radius: 67% 77% 73% 0;
	-moz-border-radius: 67% 77% 73% 0;
	-webkit-border-radius: 67% 77% 73% 0;
	z-index: 10;
}

/*Ear Left*/
.baby .head .ear_left {
	box-sizing: content-box;
	top:62px;
	left:-15px;
    width: 16px;
    height: 19px;
    border-radius: 100%;
	border:2px solid #000;
	background:#f0c098;
	-webkit-box-shadow: inset 2px 3px 0px 0px rgba(255, 229, 193, 1);
	-moz-box-shadow: inset 2px 3px 0px 0px rgba(255, 229, 193, 1);
	box-shadow: inset 2px 3px 1px 0px rgba(255, 229, 193, 1);
	opacity: 1;
	z-index: 3;
}
.baby .head .ear_left .inner1 {
	top: 6px;
	left: 2px;
	width: 10px;
	height: 10px;
	-moz-border-radius: 66%;
	-webkit-border-radius: 66%;
	border-radius: 66%;
	border-top: 2px solid #000;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}
.baby .head .ear_left .clip {
	top: 6px;
	left: 14px;
	width: 6px;
	height: 10px;
	background:#f0c098;
}

/*Ear Right*/
.baby .head .ear_right {
	box-sizing: content-box;
	top:62px;
	left:223px;
    width: 16px;
    height: 19px;
    border-radius: 100%;
	border:2px solid #000;
	background:#ffe5c1;
}
.baby .head .ear_right .inner1 {
	top: 6px;
	left: 2px;
	width: 10px;
	height: 10px;
	-moz-border-radius: 66%;
	-webkit-border-radius: 66%;
	border-radius: 66%;
	border-top: 2px solid #000;
	-webkit-transform: rotate(10deg);
	-ms-transform: rotate(10deg);
	transform: rotate(10deg);
}
.baby .head .ear_right .clip {
	top: 6px;
	left: -4px;
	width: 6px;
	height: 10px;
	background:#ffe5c1;
}

/*Nose*/
.baby .head .nose {
	top: 57px;
	left: 124px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 0 9px 10px;
	border-color: transparent transparent transparent #333;
}
.baby .head .nose .clip {
	top: -14px;
	left: -12px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 14px 0 9px 10px;
	border-color: transparent transparent transparent #ffe5c1;
}

/*EYES*/
/*EYE- LEFT*/
.baby .head .eye-left {
	top: 34px;
	left: 38px;
	width: 45px;
	height: 45px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #333;
	background: #ffffff;
	-webkit-box-shadow: inset 9px 3px 0px -1px rgba(208, 236, 251, 1);
	-moz-box-shadow: inset 9px 3px 0px -1px rgba(208, 236, 251, 1);
	box-shadow: inset 9px 3px 0px -1px rgba(208, 236, 251, 1);
	overflow: hidden;
}
.baby .head .eye-left-eyebrow {
	width: 40px;
	height: 5px;
	top: 32px;
	left: 44px;
	background: #ffe5c1;
	border-bottom: 2px solid #333;
	transform: rotate(6deg);
	-ms-transform: rotate(6deg); /* IE 9 */
	-webkit-transform: rotate(6deg);
	z-index: 2;
}
.baby .head .eye-left .eye-left-pupil {
	top: 12px;
	left: 17px;
	width: 6px;
	height: 6px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #000;
}
.baby .head .eye-left .eye-left-palp-t {
	top: -47px;
	left: 0px;
	width: 45px;
	height: 45px;
	background:#ffe5c1;
	border-bottom: 2px solid #333;
	-moz-border-radius: 50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	border-radius: 50% 50% 0 0;
	-webkit-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	-moz-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);

    -webkit-animation-name: babyEyeLeftpalpT;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: babyEyeLeftpalpT;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes babyEyeLeftpalpT {
	0% {top: -47px;}
	2% {top: -34px;}
	6% {top: -47px;}
	100% {top: -47px;}
}

@-webkit-keyframes babyEyeLeftpalpT {
	0% {top: -47px;}
	2% {top: -34px;}
	6% {top: -47px;}
	100% {top: -47px;}
}
.baby .head .eye-left .eye-left-palp-b {
	top: 47px;
	left: 0px;
	width: 45px;
	height: 45px;
	background:#ffe5c1;
	border-top: 2px solid #333;
	-moz-border-radius: 0 0 50% 50%;
	-webkit-border-radius: 0 0 50% 50%;
	border-radius: 0 0 50% 50%;
	-webkit-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	-moz-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);

    -webkit-animation-name: babyEyeLeftpalpB;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: babyEyeLeftpalpB;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes babyEyeLeftpalpB {
	0% {top: 47px;}
	2% {top: 20px;}
	6% {top: 47px;}
	100% {top: 47px;}
}

@-webkit-keyframes babyEyeLeftpalpB {
	0% {top: 47px;}
	2% {top: 20px;}
	6% {top: 47px;}
	100% {top: 47px;}
}

/*EYE - RIGHT*/
.baby .head .eye-right {
	top: 31px;
	left: 151px;
	width: 44px;
	height: 44px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #333;
	/*background: #ffd9d9;*/
	background: #ffffff;
	/*-webkit-box-shadow: inset 9px 3px 0px -1px rgba(255, 191, 191, 1);
	-moz-box-shadow: inset 9px 3px 0px -1px rgba(255, 191, 191, 1);
	box-shadow: inset 9px 3px 0px -1px rgba(255, 191, 191, 1);*/
	-webkit-box-shadow: inset 9px 3px 0px -1px rgba(208, 236, 251, 1);
	-moz-box-shadow: inset 9px 3px 0px -1px rgba(208, 236, 251, 1);
	box-shadow: inset 9px 3px 0px -1px rgba(208, 236, 251, 1);
	overflow: hidden;
}
.baby .head .eye-right-eyebrow {
	width: 38px;
	height: 5px;
	top: 30px;
	left: 152px;
	background: #ffe5c1;
	border-bottom: 2px solid #333;
	transform: rotate(-11deg);
	-ms-transform: rotate(-11deg); /* IE 9 */
	-webkit-transform: rotate(-11deg);
	z-index: 2;
}
.baby .head .eye-right .eye-right-pupil {
	top: 12px;
	left: 17px;
	width: 6px;
	height: 6px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #000;
}
.baby .head .eye-right .eye-right-palp-t {
	top: -47px;
	left: 0px;
	width: 45px;
	height: 45px;
	background:#ffe5c1;
	border-bottom: 2px solid #333;
	-moz-border-radius: 50% 50% 0 0;
	-webkit-border-radius: 50% 50% 0 0;
	border-radius: 50% 50% 0 0;
	-webkit-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	-moz-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);

    -webkit-animation-name: babyEyeRightpalpT;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: babyEyeRightpalpT;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes babyEyeRightpalpT {
	0% {top: -47px;}
	2% {top: -34px;}
	6% {top: -47px;}
	100% {top: -47px;}
}
@-webkit-keyframes babyEyeRightpalpT {
	0% {top: -47px;}
	2% {top: -34px;}
	6% {top: -47px;}
	100% {top: -47px;}
}

.baby .head .eye-right .eye-right-palp-b {
	top: 47px;
	left: 0px;
	width: 45px;
	height: 45px;
	background:#ffe5c1;
	border-top: 2px solid #333;
	-moz-border-radius: 0 0 50% 50%;
	-webkit-border-radius: 0 0 50% 50%;
	border-radius: 0 0 50% 50%;
	-webkit-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	-moz-box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);
	box-shadow: inset 11px 33px 0px -1px rgba(240, 192, 152, 1);

    -webkit-animation-name: babyEyeRightpalpB;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: babyEyeRightpalpB;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
@keyframes babyEyeRightpalpB {
	0% {top: 47px;}
	2% {top: 20px;}
	6% {top: 47px;}
	100% {top: 47px;}
}

@-webkit-keyframes babyEyeRightpalpB {
	0% {top: 47px;}
	2% {top: 20px;}
	6% {top: 47px;}
	100% {top: 47px;}
}

/*MALF*/
.malf .malf-top {
	top: 92px;
	left: 106px;
	width: 31px;
	height: 8px;
	border: 2px solid #333;
	border-width: 0 2px 0 0;
	transform: rotate(-42deg);
	-ms-transform: rotate(-42deg); /* IE 9 */
	-webkit-transform: rotate(-42deg); /* Chrome, Safari, Opera */
}
.malf .malf-main {
	top:87px;
	left:102px;
	width:35px;
	height:20px;
	border:2px solid #000;
	border-bottom: 0;
	border-right: 0;
	border-left: 0;
	border-radius: 50% 0 0 0;
	-moz-border-radius: 50% 0 0 0;
	-webkit-border-radius: 50% 0 0 0;
}
.malf .malf-bottom {
	top: 87px;
	left: 121px;
	width: 11px;
	height: 5px;
	border: 2px solid #333;
	border-width: 2px 0 0 0;
	border-radius: 100%;
	transform: rotate(132deg);
	-ms-transform: rotate(132deg); /* IE 9 */
	-webkit-transform: rotate(132deg);
}